.hero {
  padding: 60px 0;
  background: $blue;
  position: relative;
  min-height: 545px;
  width: 100%;

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;

    @media (max-width: 1399px) {
      right: -100px;
    }

    @media (max-width: 1199px) {
      right: -300px;
    }
  }

  &__content {
    max-width: 555px;
    color: $white;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    z-index: 1;
    position: relative;
  }

  &__title {
    margin-bottom: 30px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    margin-bottom: 35px;
    z-index: 1;
    position: relative;
  }

  a {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: $white;
    text-decoration: none;
    display: block;
    margin-top: 30px;

    span {
      display: inline-block;
      background: $pink;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: relative;
      top: 6px;
      margin-right: 8px;
      transition: transform 300ms ease-in-out;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:hover {
      span {
        transform: rotate(90deg);
      }
    }
  }

  @media (max-width: 992px) {
    padding: 30px 0 0;

    &__content {
      max-width: initial;
    }

    &__title {
      font-size: 30px;
      line-height: 120%;
    }

    &__content {
      font-size: 18px;
      line-height: 150%;
    }

    img {
      position: relative;
      width: 100%;
      height: auto;
      left: 20px;
      top: 3px;
    }

    a {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 30px;

      span {
        top: 10px;
      }
    }
  }
}