.navbar {
  background: $dark-blue;
  padding: 20px 0px;
  width: 100%;
  height: auto;
  position: relative;

  &__toggle {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    border: 1px solid $white;
    padding: 7px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
  }

  .items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    li {
      margin: 0 15px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $white;
        text-decoration: none;
        font-weight: 400;

        &:hover {
          font-weight: 600;
        }
      }
    }
  }

  @media (max-width: 992px) {
    background: $blue;

    .column {
      .logo {
        display: block;
        margin: 0 auto;
      }

      &.column__items {
        display: none;
      }
    }
  }
}

.navbar__mobile {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: none;

  .body {
    height: auto;
    position: relative;
    background: $dark-blue;
    height: 100vh;
    width: 258px;
    padding: 90px 24px 0;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
    overflow: hidden;

    ul {
      li {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
  
        a {
          color: $white;
          text-decoration: none;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }

    .button {
      margin-top: 52px;
    }
  
    .watermark {
      opacity: 0.2;
      position: absolute;
      bottom: 200px;
      right: -24px;
      width: calc(100% + 54px);
    }
  }

  .disclaimer {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    
    svg {
      margin-bottom: 15px;
    }

    p {
      color: $white;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      max-width: 226px;
      display: block;
      margin: 0 auto;
    }
  }

  &-backdrop {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &.active {
    pointer-events: initial;

    .body {
      transform: translateX(0);
    }

    .navbar__mobile-backdrop {
      opacity: 1;
    }
  }
}

.navbar__toggle {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  border: 1px solid $white;
  padding: 7px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);

  &--top {
    top: 15px;
    transform: translateY(0);
  }
}